/* Estilos de las secciones */
@import url(navbar.css);
@import url(addProduct.css);
@import url(products.css);
@import url(footer.css);

/* Paleta de colores */
:root{
  --primary-purple: #460f86;
  --secondary-purple: #7300de;
  --background:#9669ff;
  --hot-pink: #ff21c4;
  --soft-blue: #47b3ff;
  --text-white: #fafafe;
  --text-black: #130D20;
  /*alternativa #F7F7FD*/
}
/* Tamaño de textos en rem */
html{
  font-size: 62.5%;
}

body{
  font-family: "Kode Mono", monospace;
}

/* font-family: "Kode Mono", monospace; */